# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, these owners will be requested for review when
# someone opens a pull request. Use email address instead of GitHub user.

# Everything requires Platform team review by default
* @johnoloughlin @garyloug @palade @SushilLakra @eoghanlawless @hyunsun @soniabha-intc @sunil-parida @cjnolan @rranjan3

# CI files
.github/ @adimoft @daveroge @shanedonohue @manilk1x @johnoloughlin @garyloug @palade @SushilLakra @eoghanlawless @hyunsun @soniabha-intc @sunil-parida @cjnolan @rranjan3
