[submodule "tenancy-api-mapping/cmd/specgen/tests/gitsubmodules/amc-app-orch-catalog-openapi"]
	path = tenancy-api-mapping/cmd/specgen/tests/gitsubmodules/amc-app-orch-catalog-openapi
	url = https://github.com/open-edge-platform/app-orch-catalog.git
[submodule "tenancy-api-mapping/cmd/specgen/tests/gitsubmodules/amc-app-orch-catalog-utilities-openapi"]
	path = tenancy-api-mapping/cmd/specgen/tests/gitsubmodules/amc-app-orch-catalog-utilities-openapi
	url = https://github.com/open-edge-platform/app-orch-catalog.git
[submodule "tenancy-api-mapping/cmd/specgen/tests/gitsubmodules/amc-app-orch-deployment-app-deployment-manager-openapi"]
	path = tenancy-api-mapping/cmd/specgen/tests/gitsubmodules/amc-app-orch-deployment-app-deployment-manager-openapi
	url = https://github.com/open-edge-platform/app-orch-deployment.git
[submodule "tenancy-api-mapping/cmd/specgen/tests/gitsubmodules/amc-app-orch-deployment-app-resource-manager-openapi"]
	path = tenancy-api-mapping/cmd/specgen/tests/gitsubmodules/amc-app-orch-deployment-app-resource-manager-openapi
	url = https://github.com/open-edge-platform/app-orch-deployment.git
