# SPDX-FileCopyrightText: 2026 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

mage_output_file.go
.idea/
*.iml
*.tgz
*DS_Store
cert-synchronizer/http/.vscode/
keycloak-tenant-controller/bin/
*.netrc
.history

# tenancy-manager
tenancy-manager/bin/
tenancy-manager/.gitconfig
tenancy-manager/.netrc
tenancy-manager/.ssh
tenancy-manager/coverage.out
tenancy-manager/report.json
tenancy-manager/vendor/
tenancy-manager/.idea/
tenancy-manager/build/
tenancy-manager/venv*

*.test

vendor/
# go workspace files (local dev only)
go.work
go.work.sum
cluster-manager/
orch-cli/
orch-library/
tenancy-manager/internal/api/testdata/fuzz/
